<a href="https://colab.research.google.com/github/Soubhagya48/DMDW-LAB5/blob/main/LAB_5(Normalization).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MIN-MAX NORMALIZATION

In [1]:

import numpy as np

def normalize(x):
    min = np.min(x)
    max = np.max(x)
    range = max - min

    return [(a - min) / range for a in x]


x = [7, 21, 13, 15]
normalizedX = normalize(x)

print(normalizedX)

[0.0, 1.0, 0.42857142857142855, 0.5714285714285714]

In [9]:
import pandas as pd

 Z-SCORE NORMALIZATION

In [2]:
import numpy as np

In [3]:
np.random.seed(0)

In [10]:
df = pd.DataFrame(np.random.randn(5,3), columns=["randomA", "randomB","randomC"])
df

    randomA   randomB   randomC
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
2  0.950088 -0.151357 -0.103219
3  0.410599  0.144044  1.454274
4  0.761038  0.121675  0.443863

In [ ]:
def z_score(df):
df.columns = [x + "_zscore" for x in df.columns.tolist()]
return ((df - df.mean())/df.std(ddof=0))

In [ ]:
z_score(df)

In [12]:
from scipy.stats import zscore
df.apply(zscore)

    randomA   randomB   randomC
0  0.798350 -0.106335  0.731041
1  1.505002  1.939828 -1.577295
2 -0.407899 -0.875374 -0.545799
3 -1.207392 -0.463464  1.292230
4 -0.688061 -0.494655  0.099824