<a href="https://colab.research.google.com/github/Soubhagya48/DMDW-LAB5/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CORELATION

In [1]:
import pandas as pd

data = {'A': [45,37,42,35,39],
        'B': [38,31,26,28,33],
        'C': [10,15,17,21,12]
        }

df = pd.DataFrame(data,columns=['A','B','C'])
print (df)

    A   B   C
0  45  38  10
1  37  31  15
2  42  26  17
3  35  28  21
4  39  33  12

In [7]:
 df.corr()

          A         B         C
A  1.000000  0.518457 -0.701886
B  0.518457  1.000000 -0.860941
C -0.701886 -0.860941  1.000000

In [12]:
import seaborn as sn
import matplotlib.pyplot as plt

In [ ]:
sn.heatmap(corrMatrix, annot=True)
plt.show()

COVARIANCE

In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.DataFrame([(2, 3), (0, 4), (2, 0), (2, 2)],
columns=['deers', 'goats'])
df.cov()

          deers     goats
deers  1.000000 -1.166667
goats -1.166667  2.916667

In [15]:
np.random.seed(42)
df = pd.DataFrame(np.random.randn(800, 4),
columns=['p', 'q', 'r', 's'])
df.cov()

          p         q         r         s
p  0.905963 -0.007810 -0.045771 -0.007715
q -0.007810  0.994827 -0.034600  0.039390
r -0.045771 -0.034600  0.992015  0.041050
s -0.007715  0.039390  0.041050  1.019627

In [16]:
np.random.seed(42)
df = pd.DataFrame(np.random.randn(21, 3),
                  columns=['p', 'q', 'r'])
df.loc[df.index[:3], 'p'] = np.nan
df.loc[df.index[3:10], 'q'] = np.nan
df.cov(min_periods=12)

          p         q         r
p  0.308345       NaN -0.155537
q       NaN  1.079345 -0.002485
r -0.155537 -0.002485  0.885058